html,
body,
head {
    font-family: az_ea_font, 'Segoe UI', az_font, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    display: ruby;
}

.top-nav {
    overflow: hidden;
    background-color: #1C1C1C;
    width: 100%;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
}

.top-nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a.active {
    font-weight: 600;
    font-size: 15px;
    background-color: #1C1C1C;
    color: white;
}

.top-nav a:hover {
    background-color: #605E5C;
    color: white;
}

#search-container {
    width: 50%;
    position: fixed;
    padding: 7px;
    margin-left: 500px;
}

#search-container input {
    position: absolute;
    font-family: az_ea_font, 'Segoe UI', az_font, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    padding-left: 15px;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    height: 26px;
    background-color: #E1DFDD;
    width: 50%;
    border-radius: 2px;
    border: none;
}

.menu-nav {
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    margin: 40px 0px 0px 0px;
    height: 100%;
    width: 200px;
    float: left;
    padding-top: 30px;
    background-color: #323130;
    position: fixed;
    top: 0;
}

.menu-nav button {
    text-align: left;
    color: white;
    background-color: #323130;
    border: none;
    width: 200px;
    padding: 10px 10px 10px 40px;
    display: block;
    clear: rights;
}

#menu-nav1 i {
    top: 35px;
    left: 0;
    padding: 0px 0px 0px 10px;
    position: absolute;
    float: left;
}

#menu-nav2 i {
    top: 70px;
    left: 0;
    padding: 0px 0px 0px 10px;
    position: absolute;
    float: left;
}

.menu-nav button:hover {
    background-color: #3E3D3C;
}

.menu-nav button:visited {
    background-color: #3E3D3C;
}

h1 {
    clear: both;
    float: left;
    font-size: 15px;
    color: black;
    margin: 80px 250px 80px 300px;
}

.snu-services button {
    top: 0px;
    float: left;
    cursor: pointer;
    padding-top: 40px;
    margin: 120px 0px 0px -343px;
    width: 100px;
    height: 100px;
    border: none;
    color: black;
    background-color: white;
}

.snu-services button:hover {
    box-shadow: 0px 0px 15px 0px #605E5C;
    border: 1px solid transparent;
    border-color: #D6D6D6;
}

.snu-services i {
    cursor: pointer;
    float: left;
    margin-left: -317px;
    margin-top: 125px;
}

#outlook-shortcut button {
    top: 0px;
    float: left;
    cursor: pointer;
    padding-top: 40px;
    margin: 120px 0px 0px -285px;
    width: 250px;
    height: 120px;
    border: none;
    color: black;
    background-color: white;
}

.snu-tools button:hover {
    box-shadow: 0px 0px 15px 0px #605E5C;
    border: 2px solid transparent;
}

#outlook-shortcut a {
    cursor: pointer;
    font-size: 13px;
    color: #0078D4;
    text-decoration: none;
    clear: none;
    float: right;
    top: 0px;
    margin: -25px 60px 180px 10px;
}

#outlook-shortcut i {
    cursor: pointer;
    left: -200;
    top: 20;
    margin: 130px 200px 50px -270px;
    float: left;
}

#outlook-shortcut p {
    size: 10px;
    cursor: pointer;
    color: black;
    padding-top: 390px;
    padding-left: 315px;
    font-size: 12px;
    width: 240px;
}
.fixed-container h3{
    position: fixed;
    color: #605E5C;
    font-size: 10px;
    line-height: 14px;
    width: 200px;
    margin-top: -140px;
    margin-left: 200px;

}


.title-content {
    position: fixed;
    background-color: white;
    left: 250px;
    top: 45px;
    margin-bottom: 0px;
    padding: 0px 0px 5px 0px;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #605E5C;
    border-color: rgb(195, 195, 195);
}

#title-content-users h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    max-width: 100%;
    margin-top: -40px;
    margin-left: 10px;
}

h3{
    
    color: #605E5C;
    font-size: 10px;
    line-height: 14px;
    width: 200px;
    margin-top: -140px;
    margin-left: 200px;
}


#title-content-users i {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: -40px;
    position: relative;
}

.toolbar-container {
    transition: none;
    padding: 0px;
    background-color: white;
    height: 45px;
    top: 100px;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    border-bottom: 1px solid #605E5C;
    border-color: rgb(195, 195, 195);
}

#newuser,
button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 5px 5px 3px;
    font-size: 13px;
    cursor: pointer;
}

#newuser:hover {
    background-color: #F3F2F1;
    border: none;
}

#toolbarbutton-container {
    border: none;
    position: fixed;
}

#edituser,
button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px 5px 0px;
    font-size: 13px;
    cursor: pointer;
}

#edituser:hover {
    background-color: #F3F2F1;
    border: none;
}

.searchfield-container {
    width: 300px;
    position: relative;
    margin-top: 10px;
    clear: both;
    margin-bottom: 20px;
}


.searchfield-container input {
    
    width: 300px;
    float: left;
    margin: -30px 10px 20px 230px;
}
.white-background{
    margin-top: -210px;
    margin-left: 200px;
    position: fixed;
    width: 100%;
    height: 220px;
    background-color: white;
}

#hello {
    margin: 1500px 1500px;
}
.assign-ip{
    padding-bottom: 20px;
    margin-top: 150px;
    margin-left: 250px;
}

#myInput{
    margin-left: 80px;
    margin-top: -18px;
}
h5{
    padding-top: 10px;
    padding-left: 30px;
    margin: 0px;
}
#myTable{
    
    width: 70%;
    height: 250px;
    margin-top: 250px;
    margin-left: 230px;
    text-align: left;
    padding-top:20px;
    padding: 8px;
    border: 1px solid;
    border-collapse: collapse;
}
tr, td, th {
    height: 30px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
tr:nth-child(even) {
    background-color: #dddddd;
  }
  h3{
      font-size: 13px;
      position: relative;
      margin-top: 75px;
      margin-left: 260px;
  }
  form{
      margin-top: 250px;
      display: table;
  }
  #hidden-new-panel{
      display: none;
    padding: 0px;
      color: white;
      position: sticky;
      float: right;
      margin-top:-435px;
      margin-right: 0px;
      margin-left: 1000px;

  }
  #background-color{
    width: 400px;
    height: 500px;
    display: grid;
    padding: 5px;
    border-radius: 3px;
    background-color:#323130;
    
  }
  label{
      margin-left: 5px;
      margin-bottom: 5px;
  }
  .input{
    clear: both;
    margin-left: 5px;
    margin-bottom: 5px;
}
  